# This file contains pin mappings for the stock 2020 Creality Ender 3
# with the 32-bit Creality 4.2.2 board. To use this config, during
# "make menuconfig" select the STM32F103 with a "28KiB bootloader" and
# serial (on USART1 PA10/PA9) communication.
# adapted for my printer ender3-4.2.2

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.679
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.498
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 80

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.975
#endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -1
homing_speed: 42
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 1000.0
pressure_advance: 0.055
pressure_advance_smooth_time: 0.04
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 26.359
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_extrude_temp: 170
min_temp: 0
max_temp: 300
control: pid
pid_Kp: 23.561
pid_Ki: 1.208
pid_Kd: 114.859

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Pin mappings for BL_T port
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -31.8
y_offset: -40.5
#z_offset: 4.261
speed: 20
samples: 1
sample_retract_dist: 15.0
stow_on_each_sample = false #high speed for bltouch

[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
speed: 200
z_hop: 15
z_hop_speed: 40

#[bed_mesh]
#speed: 150
#mesh_min: 10,20 #need to handle head distance with bl_touch
#mesh_max: 200.2,191.5 #max probe range
#probe_count: 5,5
#fade_start: 1
#fade_end: 10
#fade_target: 0
#algorithm: bicubic
 
[bed_mesh]
speed: 190
mesh_min: 10,20 #need to handle head distance with bl_touch
mesh_max: 200.2,188 #max probe range Y = 188 because the stepper motor keeps slamming the endstop
probe_count: 8,8
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic
horizontal_move_z: 7

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[gcode_arcs]
resolution = 1.0

# Klipper does not support command G29. You can manually define a set of commands when G29 is called as a macro.
[gcode_macro G29]
gcode:
    G28 X0 Y0
    G28 Z0
    G0 Z5 F1200
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=Mesh1
    G28
   # SAVE_CONFIG
   
[gcode_macro START_PRINT]  # This  even  work
gcode:
    ; Ender 3 Custom Start G-code
    G92 E0 ; Reset Extruder
    G28 ; Home all axes
    G29
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    G92 E0 ; Reset Extruder
    G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
    G91; Relative positioning
    G1 E-2 F2700 ;Retract a bit
    G1 E-2 Z0.2 F2400 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out
    G1 Z10; Raise Z more
    G90; Absolute positioning
    G1 X0 Y200.0; Present print
    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed
    M84 X Y E; Disable all steppers but Z
 
[pause_resume]
recover_velocity: 50
 
[gcode_macro M600]
gcode:
    {% set X = 50 %}
    {% set Y = 0 %}
    {% set Z = 10 %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state
 
[gcode_macro M92]
gcode:
  M221

[include moonraker_obico_macros.cfg]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.164484, 0.072273, 0.059812, -0.044859, -0.094703, -0.244234, -0.421180, -0.640492
#*# 	0.099687, 0.059812, 0.049844, -0.049844, -0.072273, -0.214328, -0.396258, -0.615570
#*# 	0.174453, 0.087227, 0.069781, -0.032398, -0.082242, -0.236758, -0.426164, -0.662922
#*# 	0.159500, 0.107164, 0.072273, -0.044859, -0.084734, -0.254203, -0.456070, -0.690336
#*# 	0.099687, 0.039875, 0.032398, -0.067289, -0.094703, -0.251711, -0.418688, -0.645477
#*# 	0.176945, 0.142055, 0.079750, -0.037383, -0.067289, -0.251711, -0.441117, -0.687844
#*# 	0.181930, 0.122117, 0.099687, -0.014953, -0.049844, -0.219313, -0.398750, -0.635508
#*# 	0.201867, 0.171961, 0.129594, 0.004984, -0.012461, -0.176945, -0.351398, -0.570711
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 200.19
#*# min_y = 20.0
#*# max_y = 188.0
#*#
#*# [bed_mesh Mesh1]
#*# version = 1
#*# points =
#*# 	0.164484, 0.072273, 0.059812, -0.044859, -0.094703, -0.244234, -0.421180, -0.640492
#*# 	0.099687, 0.059812, 0.049844, -0.049844, -0.072273, -0.214328, -0.396258, -0.615570
#*# 	0.174453, 0.087227, 0.069781, -0.032398, -0.082242, -0.236758, -0.426164, -0.662922
#*# 	0.159500, 0.107164, 0.072273, -0.044859, -0.084734, -0.254203, -0.456070, -0.690336
#*# 	0.099687, 0.039875, 0.032398, -0.067289, -0.094703, -0.251711, -0.418688, -0.645477
#*# 	0.176945, 0.142055, 0.079750, -0.037383, -0.067289, -0.251711, -0.441117, -0.687844
#*# 	0.181930, 0.122117, 0.099687, -0.014953, -0.049844, -0.219313, -0.398750, -0.635508
#*# 	0.201867, 0.171961, 0.129594, 0.004984, -0.012461, -0.176945, -0.351398, -0.570711
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 200.19
#*# min_y = 20.0
#*# max_y = 188.0
#*#
#*# [bltouch]
#*# z_offset = 5.069
